@import "../../../styles/typography";

.task-card {
  padding: 8px 16px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 5%) 0 0 0 1px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__header {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 6px;
  }

  &__icon {
    img {
      width: 64px;
    }
  }

  &__name {
    @include font19BoldMixin;
  }

  &__body {
  }
}
