@import "../../../styles/typography";

.task-card {
  padding: 24px 16px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 5%) 0 0 0 1px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__header {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 6px;
  }

  &__icon {
    img {
      width: 64px;
    }
  }

  &__name {
    @include font19BoldMixin;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__label {
    @include font16BoldMixin;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  &__list-item {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 8px;

    svg {
      width: 64px;
      height: 64px;
    }
  }
}
