@import "src/styles/variables";
@import "src/styles/typography";

.task {
  padding: 8px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 5%) 0 0 0 1px;
  position: relative;

  &__header {
    position: relative;
    display: flex;
    padding-left: 32px;
    padding-right: 32px;

    &::before {
      @include font14Mixin;

      content: counter(list-item);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      color: $color-mid-grey;
    }
  }

  &__title {
    display: flex;
    gap: 4px;
    align-items: center;

    img {
      width: 32px;
    }

    span {
      @include font16BoldMixin;
    }
  }

  &__info {
    &-label {
      @include font14Mixin;
    }

    &-value {
      @include font14BoldMixin;

      font-style: italic;
    }
  }

  &__common {
    display: flex;
    align-items: center;
    gap: 4px;

    &-metrics {
      display: grid;
      place-content: start start;
      gap: 4px;
      column-gap: 12px;
      margin-top: 8px;
    }

    &-label {
    }

    &-value {
      @include font14BoldMixin;

      font-style: italic;
    }
  }

  &__extra {
    background-color: rgba($color-indigo-tint-4, 0.8);
    padding: 12px;
    border-radius: 6px;
  }
}

.spoiler-header {
  border: 0;
  background-color: transparent;
  font-size: inherit;
  text-align: left;
  overflow: hidden;
  transition: all 0.3s;
  position: relative;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
}

.spoiler-body {
  height: 0;
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all 0.3s;
}

.spoiler-icon {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  transition: all 0.3s;

  svg {
    color: $color-orange;
  }
}

.spoiler {
  &.open {
    .spoiler-body {
      max-height: 450px;
      height: 100%;
      opacity: 1;
      visibility: visible;
    }

    .spoiler-icon {
      transform: translateY(-50%) rotate(-540deg);
    }
  }
}
