@import "./variables";
@import "./fonts";
@import "./typography";
@import "utils";

* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    font-weight: normal;
  }
}

html {
  scroll-behavior: smooth;

  @include font16Mixin;
}

body {
  background-color: $color-bg;
  color: $color-black-80;
  font-family: "ING Me", Arial, sans-serif;
  letter-spacing: 0;
}

html,
body,
#root {
  height: 100%;
  min-height: 100%;
}

img {
  vertical-align: top;
}

svg {
  color: inherit;
  width: 24px;
  height: 24px;
}

a {
  &:link,
  &:visited {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 84px 20px 40px;

  /*

  @media only screen and (max-width: $bp-extra-large) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @media only screen and (max-width: $bp-medium) {
    padding-left: 44px;
    padding-right: 44px;
  }

  @media only screen and (max-width: $bp-small) {
    padding-left: 24px;
    padding-right: 24px;
  } */
}
