@import "./variables";

* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
  }
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: $color-bg;
}

html,
body,
#root {
  height: 100%;
  min-height: 100%;
}

img {
  vertical-align: top;
}

svg {
  color: inherit;
  width: 24px;
  height: 24px;
}

a {
  &:link,
  &:visited {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 160px;
  padding-right: 160px;

  @media only screen and (max-width: $bp-extra-large) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @media only screen and (max-width: $bp-medium) {
    padding-left: 44px;
    padding-right: 44px;
  }

  @media only screen and (max-width: $bp-small) {
    padding-left: 24px;
    padding-right: 24px;
  }
}