// https://webdemos.feature-testing.ing.net/p00019-ing-web-v2/fundamentals/design/layout/index.html

.u-margin-button-24 {
  margin-bottom: 24px;
}

.u-margin-button-32 {
  margin-bottom: 32px;
}

.u-margin-button-40 {
  margin-bottom: 40px;
}

.u-margin-button-48 {
  margin-bottom: 48px;
}

.u-margin-button-56 {
  margin-bottom: 56px;
}
