// https://brand.ing.com/guidelines/guide/61d25d6f-c26d-41d2-bdff-0d5f4547f1fc/page/c9b18ac3-8c71-484c-ad91-43e05e7d6fae

// Primary
$color-orange: #ff6200;
$color-white: #fff;

// Secondary colours
$color-indigo: #525199;
$color-sky: #559bd1;
$color-fuchsia: #ab0066;
$color-lime: #d0d93c;

// Grey tints
$color-black-80: #333;
$color-mid-grey: #696969;
$color-black-8: #f0f0f0;
$color-light-grey: #a8a8a8;

// Colour tints
$color-sky-tint-4: #eff6fb;
$color-indigo-tint-4: #ededf5;

// ING Plus & ING Minus
$color-plus: #349651;
$color-minus: #d70000;

// Others
$color-bg: $color-white;
$bp-extra-large: 1350px;
$bp-large: 1200px;
$bp-medium: 990px;
$bp-medium-small: 800px;
$bp-small: 650px;
$bp-extra-small: 450px;
$header-height-desktop: 72px;

// Shadows
$box-shadow:
  0 0 2px 0 rgb(0 0 0 / 12%),
  0 2px 2px 0 rgb(0 0 0 / 24%);
$box-shadow-header: 0 2px 1px rgb(0 0 0 / 10%);

// Breakpoints
$bp-extra-large: 1250px;
$bp-medium: 920px;
$bp-small: 820px;
