$color-white: #f4f4f4;
$color-black: #0a0f5a;
$color-bg: #f0f3f7;
$bp-extra-large: 1350px;
$bp-large: 1200px;
$bp-medium: 990px;
$bp-medium-small: 800px;
$bp-small: 650px;
$bp-extra-small: 450px;
$header-height-desktop: 84px;
$box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
