.rating {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 250px));
    gap: 24px;
    overflow-y: scroll;
  }

  &__empty-state {
    text-align: center;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
  }
}
