@import "src/styles/variables";

.card {
  background-color: $color-white;
  padding: 24px 16px;
  box-shadow: $box-shadow;
  border-radius: 4px;
  max-height: 100%;
  height: 100%;
  overflow-y: scroll;

  &__title {
    margin-bottom: 16px;
  }
}
