@import "src/styles/variables";

.tasks {
  max-height: 100%;
  min-height: 100%;

  &__calendars {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 24px;
    margin-bottom: 24px;

    @media only screen and (max-width: $bp-extra-large) {
      grid-template-columns: repeat(3, 200px);
      gap: 16px;
    }
  }
}
